body {
    margin: 20px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #a96da3;
    color: #221e22;
    border-bottom: 8px solid #023e8a;
    border-top: 8px solid #5c374c;
        
   
}

.border-blue {
    border: 1px dotted blue;
}


